*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-style: normal;
  background-color: #dadada;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 14.5px 14px;
}

.menu-items {
  position: relative;
  /* background-color: #43464a; */
  /* width: 370px; */
}

.all-categories {
  background-color: salmon;
  padding: 10px;
  width: 100%;
}

ul.menu {
  background-color: #777777;
  padding: 4px;
}

li.menu-item {
  background-color: #ffffff;
  padding: 20px;
}

.categories {
  background-color: palevioletred;
  margin-right: 3px;
}

.hide-unpop {
  display: none;
}

.border-right {
  border-right: 1px #fc26002f solid;
}

.mega-menu {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.col-s {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 33%;
}
